.pic{
    margin-top: 2rem;
    margin-left: 6rem;
}

.bienvenida{
    font-family: var(--font1);
    font-weight: bold;
    font-size: var(--size1);
    color: var(--color6);

    padding: 3.1rem;
}

.sign{
    font-family: var(--font1);
    font-size: var(--size2);
    color: var(--color6);

    margin-top: -2rem;
    padding-left: 3.1rem;
}

.datos{
    width: 37.5rem;
    height: 47.4rem;
    margin-top: 3rem;

    border-radius: 5rem 5rem 0rem 0rem;
    background-color: var(--color6);
}

.email{
    font-family: var(--font1);
    font-size: var(--size3);
    color: var(--color5);

    padding-top: 5rem;
    padding-left: 3.5rem;
}

.identifier{
    display: block;

    width: 80%;
    height: 3.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
    padding-left: 0.5rem;

    font-size: var(--size4);
    color: var(--color3);
    
}

.contrasena{
    font-family: var(--font1);
    font-size: var(--size3);
    color: var(--color5);

    padding-top: 4rem;
    padding-left: 3.5rem;
}

.line{
    margin-left: 2.5rem;
}

input{
    outline: none;
    border: none;
    font-family: var(--font1);
    font-weight: bold;
    font-size: var(--size4);
}

.button{
    margin-left: 2.5rem;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
}

.olvido{
    margin-left: 22.5rem;
    text-decoration: none;

    font-size: var(--size4);
    color: var(--color3);
}

.home{
    margin-top: 8.5rem;
}