.login{
    height: 100vh;
}

.formulario{
    height: 40rem;
    border-radius: 4rem;
}

.formulario label{
    margin-top: 4rem;
}

.inicio img{
    margin-top: 18rem;
}

button{
    max-width: 33.5rem;
}